%deal-btn-shared {
  border-radius: 100px;
  padding: 40px;
  outline: none;
  cursor: pointer;
  margin: 5px;
  &:hover {
    background-color: rgb(230, 221, 221);
  }
  &:active {
    background-color: white;
  }
}
%btn-shared {
  border-radius: 20px;
  font-size: 20px;
  padding: 15px 40px;
  outline: none;
  cursor: pointer;
  border: transparent;
  background-color: goldenrod;
  color: white;
  &:hover {
    background-color: rgb(235, 180, 43);
  }
  &:active {
    background-color: goldenrod;
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
    to left,
    rgba(23, 71, 5, 1) 15%,
    rgba(38, 122, 26, 1) 50%,
    rgba(23, 71, 5, 1) 85%
  );
  font-family: "Roboto", sans-serif;
  color: white;
}
.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  letter-spacing: 10px;
  font-size: 7 0px;
}
.betButton {
  &-1 {
    @extend %deal-btn-shared;
    border: blue solid 20px;
    &:hover {
      border: rgb(20, 20, 161) solid 20px;
    }
    &:active {
      border: blue solid 20px;
    }
  }
  &-2 {
    @extend %deal-btn-shared;
    border: rgb(230, 8, 8) solid 20px;
    &:hover {
      border: rgb(119, 8, 8) solid 20px;
    }
    &:active {
      border: red solid 20px;
    }
  }
  &-3 {
    @extend %deal-btn-shared;
    border: peru solid 20px;
    &:hover {
      border: rgb(177, 107, 37) solid 20px;
    }
    &:active {
      border: peru solid 20px;
    }
  }
  &-4 {
    @extend %deal-btn-shared;
    border: rgb(53, 50, 50) solid 20px;
    &:hover {
      border: black solid 20px;
    }
    &:active {
      border: rgb(53, 50, 50) solid 20px;
    }
  }
}
.dealContainer {
  text-align: center;
  h2 {
    text-align: left;
  }
}
.placeBet {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 30px;
}
.dealButton {
  @extend %btn-shared;
  margin-top: 2rem;
}
.playGame {
  @extend %btn-shared;
}
.gameButton {
  @extend %btn-shared;
  margin-right: 1rem;
}
.playAgain {
  @extend %btn-shared;
}
.gameOverContainer {
  text-align: center;
  margin-bottom: 6rem;
}
.cardContainer {
  display: flex;
}
.playerContainer {
  margin-right: 3rem;
}
